{% extends 'base.html'%}

{% block content %}

<h1>Catálogo</h1>
<p>He aquí {{nombre}}</p>
<h3>Listado de productos</h3>
<ul>
    {% for productos in lista_productos %}
    <li>
        <strong>
            <a href="{{ url_for ('producto', idProducto=loop.index-1) }}">
                {{productos.nombre}}
            </a>
        </strong>
        {{productos.precio}}$
        {% if productos.disponible %}
        <span style="color: green">En stock</span>
        {% else %}
        <span style="color: red;">Agotado</span>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% endblock %}