<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>
</head>

<body>
    <h1>Catálogo</h1>
    <p>He aquí {{nombre}}</p>
    <p>Mostrando el producto con id {{id_product}}</p>
    <h3>Listado de productos</h3>
    <ul>
        {% for productos in lista_productos %}
        <li>
            <strong>{{productos.nombre}}</strong>
            {{productos.precio}}$
            {% if productos.disponible %}
            <span style="color: green">En stock</span>
            {% else %}
            <span style="color: red;">Agotado</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>

</html>